/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #F6F8F9;
    font-family: Arial, sans-serif;
}

/* HEADER */
.header{
    background-color: white;
    height: 80px;
}

header > img{
    vertical-align: middle;
    padding: 10px 5px 10px 20px;
}

.main-title{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    font-weight: 800;
    font-size: 2.5rem;
}

/* MAIN */
/* Container */
.container{
    width: 60%;
    margin: 0 auto;
    height: 600px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px 40px;
}

/* Navigation bar */
nav{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 3px;
    height: 50px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 50px;
}

.nav-button{
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 5px 10px;
}

.nav-button.task-button{
    border: none;
    background-color: #45ABEA;
}

.nav-button.section-button{
    border: 1px solid gray;
    background-color: white;
    color: grey;
}

/* LIST */
.todo-list{
    list-style-type: none;
}

.heading-of-list{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

/* MARK */
.mark{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}

.mark.check{
    color: green;
    border: 2px solid green;
}

.lable{
    height: 20px;
    width: 50px;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.lable.blue-lable{
    background-color: #45ABEA;
}

